<div class="tdp-container bg-is-medium-blue">
    <div class="tdp-flex-center-column">
        <button class="tdp-button tdp-button-menu mt-2" routerLink="/account/profile">Account Profile</button>
        <button class="tdp-button tdp-button-menu mt-2" routerLink="/account/tour-profile">Tour Profile</button>
        <button class="tdp-button tdp-button-menu mt-2" routerLink="/account/change-password">Change Password</button>
        <button class="tdp-button tdp-button-menu mt-2" routerLink="/auth/logout">Logout</button>
    </div>
</div>x