<div class="tdp-form-container">
    <h2 class="is-purpel mb-0">Tour de Planet.</h2>
    <h2 class="mt-0">Mange your Tours!</h2>
    <div class="tdp-flex-center-column">
        <button type="button" class="tdp-button tdp-button-menu mt-2" routerLink="/tours/add-tour">Add new tour</button>
    </div>
    <app-tour-list-row *ngFor="let tour of (tours$ | async)" [tour]="tour" [mots]="mots$ | async"></app-tour-list-row>
</div>