@import './../../../../../styles/variables';
.donation-list {
    border: 1px solid $box-headline-color;
    padding: 0.2rem;
    .donation-list-item {
        text-align: left;
        letter-spacing: 0.15px;
        color: $box-headline-color;
        opacity: 1;
        padding-right: 1rem;
         :last-child {
            padding: 0;
        }
    }
}