<div class="tdp-flex-outer-row mt-1 donation-list" *ngIf="donation" [style.background-color]="color">
    <div class="donation-list-item">{{ donation.date }}
    </div>
    <div class="donation-list-item">{{ donation.point.name | slice: 0:20 }}
    </div>
    <div class="donation-list-item">
        {{ donation.amount }}&nbsp;{{ donation.unit }}
    </div>
    <div class="donation-list-item">
        <i class="tdp-icon" [ngClass]="iconClass"></i>
    </div>
</div>