<div class="flex">
    <main>
        <div class="drawer-container">
            <div class="drawer">
                <app-header (toggleMenu)="toggleMenu()" (toggleAccountMenu)="toggleAccountMenu()" [user]="userToken$ | async"></app-header>
                <app-notification></app-notification>
                <app-menue *ngIf="menuVisible" [user]="userToken$ | async"></app-menue>
                <app-accountmenue *ngIf="accountMenuVisible" [user]="userToken$ | async"></app-accountmenue>
                <router-outlet></router-outlet>
            </div>
            <div class="drawer-content">
                <app-map [latitude]="51.48253" [longitude]="7.21506" [zoom]="5"></app-map>
            </div>
        </div>
    </main>
</div>