@import 'variables';
body {
    font-family: $label-font;
    padding-bottom: 2rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
a {
    letter-spacing: 0;
    color: $black;
    opacity: 1;
    text-align: left;
}

a {
    color: $link-color;
    &:hover {
        color: $purpel;
        text-decoration: underline;
    }
    &:active {
        color: $purpel;
        text-decoration: underline;
    }
    &:disabled {
        color: $link-color-disabled;
    }
}

p {
    color: $grey;
}

h1,
h2 {
    font: $first-headline-font;
    margin: $first-headline-margin;
}

h3,
h4,
h5,
h6 {
    font: $second-headline-font;
    margin: $second-headline-margin;
}

.box-headline {
    font: $box-headline-font;
    text-align: center;
    letter-spacing: 3.36px;
    color: $box-headline-color;
    opacity: 1;
    text-transform: uppercase;
    ;
}

$spacer: 1rem;
$spacers: ( 6: ($spacer * 4.5), 7: ($spacer * 6), 8: ($spacer * 7.5), 9: ($spacer * 9), 10: ($spacer * 10.5), 11: ($spacer * 12), 13: ($spacer * 13.5), 14: ($spacer * 15));
label {
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: $form-label-color;
    margin: (1rem / 1.5) 0 (1.2rem / 2.5) 0;
}

.is-red {
    color: $red !important;
}

.is-purpel {
    color: $purpel !important;
}

.is-white {
    color: $white !important;
}

.is-pink {
    color: $pink !important;
}

.is-light-grey {
    color: $lightGrey !important;
}

.is-middle-grey {
    color: $mediumGrey !important;
}

.bg-is-grey {
    color: $grey;
}

.bg-is-dark-grey {
    color: $darkGrey;
}

.is-black {
    color: $black;
}

.bg-is-red {
    background-color: $red;
}

.bg-is-purpel {
    background-color: $purpel;
}

.bg-is-white {
    background-color: $white;
}

.bg-is-pink {
    background-color: $pink;
}

.bg-is-light-grey {
    background-color: $lightGrey;
}

.bg-is-middle-grey {
    background-color: $mediumGrey;
}

.bg-is-grey {
    background-color: $grey;
}

.bg-is-dark-grey {
    background-color: $darkGrey;
}

.bg-is-black {
    background-color: $black;
}

.bg-is-blue {
    background-color: $blue;
}

.bg-is-medium-blue {
    background-color: $mediumBlue;
}

.is-tdp_normal_bike {
    background-color: $normal_bike-background-color;
    color: $white;
}

.is-tdp_racing_bike {
    background-color: $racing_bike-background-color;
    color: $white;
}

.is-tdp_walking {
    background-color: $walking-background-color;
    color: $white;
}

.is-tdp_hiking_boot {
    background-color: $hiking-background-color;
    color: $white;
}

.is-tdp_special {
    background-color: $special-background-color;
    color: $white;
}