<div class="content-container">
    <ul class="navigation-list">
        <li *ngIf="isUser">
            <a routerLink="/donations/list">
        TdP Donations
      </a>
        </li>
        <li *ngIf="isUser">
            <a disabled title="Will come soon" class="disabled">
        Tours <span>comming soon!</span>
      </a>
        </li>
        <li *ngIf="isUser">
            <a disabdled title="Will come soon" class="disabled">
        Tour Events <span>comming soon!</span>
      </a>
        </li>
        <li *ngIf="isUser">
            <a routerLink="/account/dashboard" routerLinkActive="active">
        User Preferences
      </a>
        </li>
        <li *ngIf="!isUser">
            <a routerLink="/auth/login" routerLinkActive="active" aria-label="Login into tour management">
        Login
      </a>
        </li>
        <li *ngIf="!isUser">
            <a routerLink="/auth/register" routerLinkActive="active" aria-label="Login into tour management">
        Register
      </a>
        </li>
    </ul>
</div>