@import "./../../../../styles/variables";

.alert > .start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}

.alert > .start-icon {
  margin-right: 5px;
}

.alert.alert-simple {
  font-size: 17px;
  padding: 19px;
  color: $notification-text-color;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.alert-success {
  background-color: $turquoise;
}

.alert-success:hover {
  background-color: rgba(51, 221, 188, 0.35);
  transition: 0.5s;
}

.alert-simple.alert-info {
  background-color: rgba(7, 73, 149, 0.35);
}

.alert-info:hover {
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  transition: 0.5s;
}

.alert-simple.alert-warning {
  background-color: rgba(220, 128, 1, 0.33);
}

.alert-warning:hover {
  background-color: rgba(220, 128, 1, 0.16);
  transition: 0.5s;
}

.alert-simple.alert-danger {
  background-color: rgba(220, 17, 1, 0.33);
}

.alert-danger:hover {
  background-color: rgba(220, 17, 1, 0.16);
  transition: 0.5s;
}

.alert-simple.alert-primary {
  background-color: rgba(1, 204, 220, 0.33);
}

.alert-primary:hover {
  background-color: rgba(1, 204, 220, 0.16);
  transition: 0.5s;
}

.alert:before {
  content: "";
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}
