<section class="tdp-box tdp-flex-columns mb-1">
    <h3 class="box-headline">Recently Donated</h3>
    <app-donation-row [donation]="latestDonation$ | async"></app-donation-row>
    <div class="tdp-box-footer">
        <a routerLink="/donations/list">View all donations</a>
    </div>
</section>