<section class="tdp-box tdp-flex-columns mb-1">
  <h3 class="box-headline">Distance Travalled</h3>
  <div class="tdp-flex-center-row">
    <div class="img-container">
      <img class="logo" src="/assets/img/Rectangle_132.png" sizes="(min-with: 992px) 2x, 1x" srcset="/assets/img/Rectangle_132.png 1x, /assets/img/Rectangle_132@2x.png 2x" alt="Tour de Planet" />
    </div>
    <app-counter></app-counter>
  </div>
</section>
