<div class="tour-point-form tdp-form-row" [formGroup]="tourPointForm" *ngIf="tourPointForm">
    <input type="hidden" readonly formControlName="id" />
    <input type="hidden" readonly formControlName="latitude" />
    <input type="hidden" readonly formControlName="longitude" />
    <div class="tpd-form-box half">
        <label>{{ name }}</label>
        <input type="text" placeholder="Type your location and pick one" (keyup)="onKeyUpname($event)" formControlName="name">
        <ul *ngIf="(autoCompleteItems$ | async)" id="autocomplete-list" class="autocomplete-items">
            <li *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)">
                <strong>{{ item.display_name }}</strong>
            </li>
        </ul>
        <div class="form-help" *ngIf="longitude && latitude">({{ longitude }}, {{ latitude }})</div>
    </div>
    <div class="tdp-form-box half">
        <label>Date for the Point</label>
        <input type="date" formControlName="pointDate">
    </div>
</div>