.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  ul {
      list-style: none;
      li {
          margin-bottom: 5px;
          :hover {
            background-color: lightblue;
        }
      }
      
  }